<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
</head>
<body>
<h1>博客首页</h1><br>
<h2>{{msg}}</h2><br>
{# 引入图片 #}
<img width="200" src="/static/myblog/img/20170408194757_Tc35e.thumb.700_0.png" alt="美女"><br>
<a href="/myblog/login/">登录</a><br>
<a href="/myblog/signin/">注册</a><br>
<a href="/myblog/addarticle/">发布文章</a><br>

{# ajax  #}
<button id="user" onclick="">获取json单个数据</button>
<script src="/static/myblog/js/lib/jquery-2.1.4.js"></script>
<script>
    $(function(){
        $("#user").click(function(){
            $.ajax({
                {# 指定路径 #}
                url:"/myblog/jsontest/",
                {# 请求方式 #}
                type:"POST",
                {# 获取回来的东西指定类型 #}
                dataType:"JSON",
                success:function(data){
                {# 弹出单个 #}
                    //alert(data['name'])
                    //alert('1111')
                    alert(data[1]['fields']['name'])
                }
            })
        })
    })
</script>
</body>
</html>