<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
<form action="/myblog/login/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    姓名：<input type="text" name="name" /><br>
    密码：<input type="password" name="password" /><br>
    验证码：<input type="text">
    {# 验证码图片 onclick定位改变验证码的方法 #}
    <img src="/myblog/createmage/" alt="图片" onclick="refresh_check_code(this)"><br>
    <input type="submit" value="登录">
</form>
{# 点击改变验证码 #}
<script>
 function refresh_check_code(node) {
 // src 后面加问号会自动刷新验证码 img 的 src
// get 请求方式缓存处理
 node.src = '/myblog/createmage/?search=' + Math.random();
 }
</script>
{{msg}}
</body>
</html>